@keyframes fadeInFromTop {
  from {transform: translate(0px, -20px);
        opacity: 0}
  to {transform: translate(0px, 0px);
      opacity: 1}
}

@keyframes fadeInFromLeft {
  from {transform: translate(-20px, 0px);
        opacity: 0}
  to {transform: translate(0px, 0px);
      opacity: 1}
}

@keyframes fadeInFromRight {
  from {transform: translate(2px, 0px);
        opacity: 0}
  to {transform: translate(0px, 0px);
      opacity: 1}
}
html {
  height: 100%;
  margin: 0;
}
body {
  background-color: #D5DCF9;
  margin: 0;
}
#title {
  margin: 10px 10px 10px 10px;
  font-family: "Old Standard TT", serif;
  color: #D5DCF9;
  font-weight: bold;
  font-size: 3.125em;
  text-align: center;
  padding: 10px 10px 10px 10px;
  background-color: #554971;
  border-radius: 30px;
  animation-name: fadeInFromTop;
  animation-duration: 2s;
  animation-iteration-count: 1;
}
.recipe a img {
  border-radius: 30px;
  margin: 0px 0px 10px 0px;
  border: 10px solid;
  border-color: #A7B0CA;
  position: relative;
  width: 100%;
  box-sizing: border-box;
}
.recipe .tagline {
  color:#554971;
  font-family: "Raleway", sans-serif;
  margin: 0px 0px 10px;
}
.recipe a h2 {
  font-family: "Old Standard TT", serif;
  font-size: 2.125em;
  color:#554971;
  font-weight: bold;
  margin: 0px 0px 10px 0px;
}
.recipe a {
  text-decoration: none;
}
.recipe {
  margin-bottom: 10px;
  display: block;
  text-align: center;
  width: 50%;
  margin-right: auto;
  margin-left: auto;
}
#buffer {
  padding: 0px 0px 20px 0px;
}